
<h1>Want to add a restaurant?</h1>

<%= simple_form_for(@restaurant) do |f| %>
  <%= f.input :name %>
  <%= f.input :category, as: :select, collection: Restaurant::CATEGORY, include_blank:  "Select a category" %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
