<h1>Your chosen restaurant</h1>

<h3><%= link_to "Back to list", restaurants_path%></h3>

<h2><%= @restaurant.name%></h2>
<p><%= @restaurant.category.capitalize%></p>
<p><%= @restaurant.address%></p>
<p><%= @restaurant.phone_number%></p>
<p>Reviews</p>
<% reviews = @restaurant.reviews %>
<% reviews.each do |review| %>
<p><%= review %></p>
<% end %>
<h3><%= link_to "Add a review", new_restaurant_review_path(@restaurant)%></h3>


